<div  class="flex items-center justify-center mt-12">
    <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
        <h3 class="text-2xl font-bold text-center">Rejestracja nowego konta</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mt-4">
                <div>
                    <label class="block" for="email">Email</label>
                            <input formControlName="email" name="email" type="text" placeholder="Email"
                                class="form-control w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <div class="mt-4">
                    <label class="block">Hasło</label>
                            <input formControlName="password" name="password" type="password" placeholder="Hasło"
                                class="form-control w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">                        
                </div>
                <div>
                    <label class="block" for="email">Imię</label>
                            <input formControlName="firstName" name="firstName" type="text" placeholder="Imię"
                                class="form-control w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <div>
                    <label class="block" for="email">Nazwisko</label>
                            <input formControlName="lastName" name="lastName" type="text" placeholder="Nazwisko"
                                class="form-control w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <div class="flex items-baseline justify-between">
                    <button type="submit" class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Zarejestruj</button>
                </div>
            </div>
        </form>
    </div>
</div>