<ul class="">
    <li class="p-5 pl-1">
        <a routerLink="wypozycz"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="">Wypożycz</a>
    </li>

    <li class="p-5 pl-1">
        <a routerLink="lista" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="">Lista Wypożyczeń</a>
    </li>

    <li class="p-5 pl-1">
        <a routerLink="archiwum" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="">Archiwum wypożyczeń</a>
    </li>

    <li class="p-5 pl-1">
        <a routerLink="przeterminowane" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="">Przeterminowane wypożyczenia</a>
    </li>
</ul>